
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body, .wrapper, .content{
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    min-height: 100vh;
    background: #030303;
}
.wrapper{
   width: 440px;
   background: #fff; 
   border-radius: 10px;
   flex-direction: column;
   padding: 30px 30px 38px;
}

.wrapper img{
    max-width: 103px;
}

.wrapper h1{
    font-size: 31px;
    font-weight:50px;
    margin: 30px 0;
}

.wrapper .content{
    width: 100%;
    justify-content: space-between;
    /* flex-direction: row; */
    
}

.wrapper .content.disable{
    opacity: 0.6;
    pointer-events: none;
}

.content .column{
    border-radius: 5px;
    padding: 0 10px;
    border: 1px solid #999;
    width: calc(100% / 3 - 5px) ;
}

.content select{
    border: none;
    outline: none;
    height: 45px;
    width: 100%;
    font-size: 17px;
}

.wrapper button{
    border-radius: 6px ;
    width: 100%;
    margin-top: 17px;
    height: 3.5rem;
    border: 1px solid #999;
    background: #f7564a;
    font-size: 17px;
}